* {
  margin: 0;
}

.tool-icon {
  color: green;
  font-size: 26px;
  cursor: pointer
}

.navv {
  background-color: darkslateblue;
  line-height: 50px;
  position: fixed;
  width: 100%;
  height: 50px;
  margin: 0;
  margin-bottom: 20px;
  z-index: 2;
  top: 0;
}

.navv ul {
  background-color: darkslateblue;
  /* padding: 0; */
  margin: 0px 0px;
  float: right;
  height: 50px;

}

.navv ul li,
.navv li a {
  display: inline;
  /* margin: 0; */
  color: aliceblue;
  padding: 10px;
  text-decoration: none;

  &:hover {
    background-color: rgb(124, 22, 218);
  }
}


.add-product {
  /* float: right; */
  /* display: inline; */
  justify-content: center;
  width: 700px;
  /* min-width: 10%; */
  padding: 30px;
  margin: 20px;
  border: 1px solid rgb(66, 65, 65);
  border-radius: 6px;
  min-width: 600px;
  /* width: 700px;  */
  /* z-index: -2; */
}

.menu {
  margin-top: 50px;
  /* z-index: 3; */
  position: fixed;
  padding: 0px;
  width: 230px;
  height: 100vh;
  background-color: rgb(228 227 227);
  border-right: 2px solid rgb(75, 74, 74);
}

.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.menu li,
menu li a {
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(180, 179, 179);
    ;

  }
}

.dashboard {
  position: inherit;
  display: flex;
}

.dashboard-content {
  margin-top: 30px;
  margin-left: 230px;
  padding: 20px;
  width: 100%;
  height: 100%;
  /* border: 2px solid gray; */
}


.p_card {
  width: 260px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.p_card img {
  cursor: pointer;
  box-shadow: 0px 0px 17px 3px rgb(72 61 139 / 24%);
  margin-top: 8px;
  margin-bottom: 10px;
  transition: all 0.2s;
  /* position:sticky; */
  &:hover{
      transform: scale(1.06);
  }
}

.product {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex-wrap: wrap;
}

.admin-login {

  height: 100vh;
  padding: 40px;
  background: url('../public/admin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login {
  color: #fff;
  background: rgb(59 101 139 / 79%);
  position: absolute;
  border-radius: 20px 0px 20px 0px;
  /* top: 30px;
  right: 28%; */
  border: 1px solid black;
  min-width: 500px;
  width: 600px;
  padding: 20px;
  height: auto;
  margin-top: 30px;
}

._404page {
  width: 100vw;
  height: 100vh;
  background: url('../public/pagenot2.jpg');
  background-position: center;
  background-size: cover;
}

.cart {
  margin-top: 30px;
  width: 500px;
}

.cart-badge {
  position: absolute;
  color: rgb(218, 89, 89);
  height: 10px;
  width: 18px;
  top: -5px
}

.btn-cart1 {
  background-color:#8175c9;
  border-radius: 2px;
  position: absolute;
  width: 150px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 7px 10px;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: #483d8b;
    transform: scale(1.1);
    outline: none;
    /* color:rgb(216, 100, 100); */
  }
}

.btn-cart2 {
  background-color:#8175c9;
  border-radius: 2px;
  position: absolute;
  width: 150px;
  border: none;
  color: #efeeee;
  font-weight: 500;
  padding: 7px 10px;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: #483d8b;
    transform: scale(1.1);
    outline: none;
    /* color:rgb(216, 100, 100); */
  }

  /* letter-spacing: 2px; */
  /* font-size: 16px; */
}
.price{
  background-color: #0073b2cf;
  width: 100px;
  color: #fff;
  padding: 1px 10px;
  
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.quantity__minus,
.quantity__plus {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  background: #8175c9;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}

.quantity__minus:hover,
.quantity__plus:hover {
  background: #695ea8;
  color: #fff;
}

.quantity__minus {
  border-radius: 3px 0 0 3px;
}

.quantity__plus {
  border-radius: 0 3px 3px 0;
}

.quantity__input {
  width: 32px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8175c9;
}

.quantity__minus:link,
.quantity__plus:link {
  color: #8175c9;
}

.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}
.cart-summary{
  border: 1px solid saddlebrown;
  background:linear-gradient(rgb(185 175 247), rgb(165 158 211 / 21%));
  margin: 10px 12px 13px 50px;
  min-width:360px;
  height: max-content;
  padding: 30px;
}
.cart-summary p{
  padding: 0px;
  line-height:15px;
}
.cart-summary >*{
  border-bottom: 3px solid #5d5c61;
  padding:10px 0px;
}
.sumary-value{
  float: right;
}